.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.75rem;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 2px;
  background: #fff;
}

.nav-logo {
  width: 15rem;
}

.nav-profile {
  width: 6rem;
}

/* TODO: Make navbar and sidebar responsive. Make it flex direction row for small screens */
