.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56rem;
  gap: 0.6rem;
}

.popular-container h1 {
  color: #181818;
  font-size: 3rem;
  font-weight: 600;
}

.popular-container hr {
  width: 12.5rem;
  height: 0.37rem;
  border-radius: 0.65rem;
  background-color: #262626;
}

.popular-items {
  margin-top: 3.15rem;
  display: flex;
  gap: 1.9rem;
}
